* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI", "Emoji", "Segoe UI Symbol";
}

body {
    width: 100vw;
}

p {
    width: 60ch;
    font-size: 1em;
    letter-spacing: 0.05em;
    line-height: calc(1ex / 0.32);
}

button,
.upper-header > .icon-notifications,
.upper-header > .icon-sm-profile,
.lower-header > .icon-bg-profile,
.b-sidebar > .sidebar-link {
    cursor: pointer;
}

.container {
    display: grid;
    min-height: 1200px;
    overflow-x: hidden;
    grid-template: repeat(6, 1fr) 0.1fr / repeat(6, 1fr);
    grid-template-areas:
        "b-sidebar header header header header header"
        "b-sidebar b-content b-content b-content b-content b-content"
        "b-sidebar b-content b-content b-content b-content b-content"
        "b-sidebar b-content b-content b-content b-content b-content"
        "b-sidebar b-content b-content b-content b-content b-content"
        "b-sidebar b-content b-content b-content b-content b-content"
        "b-sidebar footer footer footer footer footer";
}

header {
    display: grid;
    padding: 0px 40px 10px 40px;
    grid-area: header;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.upper-header > img {
    height: 20px;
}

.upper-header > .icon-sm-profile,
.lower-header > .icon-bg-profile {
    transition: box-shadow 0.3s;
}

.upper-header > .icon-sm-profile:hover,
.lower-header > .icon-bg-profile:hover {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
}

.upper-header {
    display: grid;
    align-items: center;
    grid-template-columns: 0.3fr 5fr 0.3fr 0.5fr 1fr;
    gap: 20px;
}

.upper-header > input {
    max-width: 600px;
    padding: 5px 10px;
    font-size: 0.8rem;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 15px;
}

.upper-header > div {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-image: url("images/gecko.jpg");
    background-size: cover;
    background-position: bottom center;
}

.upper-header > h1 {
    width: 130px;
    font-size: 1.1rem;
    font-weight: 500;
}

.lower-header {
    display: grid;
    align-items: center;
    grid-template-columns: 0.8fr 6fr 1fr 1fr 1fr;
    gap: 20px;
}

.lower-header > div:nth-of-type(1) {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-image: url("images/gecko.jpg");
    background-size: cover;
    background-position: bottom center;
}

.lower-header h2 {
    font-size: 0.9rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
}

.lower-header h1 {
    font-size: 1.1rem;
    font-weight: 500;
}

.lower-header > button {
    width: 90px;
    height: 35px;
    border: 0;
    border-radius: 15px;
    background: #84d6ff;
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.9rem;
    font-weight: 500;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
}

.lower-header > button:hover {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
}

.b-sidebar {
    display: grid;
    min-width: 190px;
    background: #84d6ff;
    grid-area: b-sidebar;
    grid-template-rows: 0.5fr 30px repeat(18, minmax(30px, 0.5fr));
}

.b-sidebar > div {
    display: grid;
    min-width: 140px;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-radius: 25px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "img text . . . .";
    transition: box-shadow 0.3s;
}

.b-sidebar > .sidebar-link:hover {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
}

.b-sidebar > div:nth-child(1) {
    margin-top: 20px;
    padding: 5px 0px;
}

.b-sidebar > div > img,
.b-sidebar > div > h1 {
    font-size: 1.2rem;
}

.b-sidebar > div > img {
    height: 20px;
    margin: 0px 20px;
    grid-area: img;
}

.b-sidebar > div > h1,
.b-sidebar > div > h2 {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
    grid-area: text;
}

.b-sidebar > div > h2 {
    font-size: 1.1rem;
}

.b-sidebar .icon-dashboard {
    height: 40px;
    margin: 0px 10px;
}

.b-content {
    display: grid;
    padding: 20px 0px 20px 20px;
    background: rgba(128, 128, 128, 0.1);
    grid-area: b-content;
    grid-template-columns: 3fr 1fr;
}

.left-content {
    display: grid;
    padding-right: 20px;
    grid-template: 1fr repeat(3, 12fr) / repeat(2, 1fr);
    gap: 20px;
}

.project {
    display: grid;
    padding: 20px;
    border-left: #ffb703 solid 7px;
    border-radius: 15px;
    cursor: pointer;
    background: white;
    grid-template-rows: 0.7fr 4fr 1fr;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s;
}

.project:hover {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
}

.project h2 {
    font-size: 1rem;
    font-weight: 500;
}

.project > p {
    width: auto;
    font-size: 0.95rem;
    line-height: 115%;
    color: rgba(128, 128, 128, 0.9);
}

.project .b-buttons {
    display: grid;
    width: 100px;
    margin: 0px 10px 0px auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.project .b-buttons > img,
.upper-header > .icon-notifications {
    height: 22px;
    cursor: pointer;
    transition: transform 0.3s;
}

.project .b-buttons > img:hover,
.upper-header > .icon-notifications:hover {
    transform: scale(1.1);
}

.left-content > h1,
.right-content > h1 {
    font-size: 18px;
    font-weight: 500;
    grid-column: 1 / 3;
}

.right-content {
    display: grid;
    grid-template: 1fr 17.5fr 1fr 17.5fr / 1fr;
    gap: 20px;
}

.right-content > div {
    border-radius: 15px;
    background: white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.right-content > .b-announcements {
    display: grid;
    padding: 20px;
    grid-template-rows: 20fr 1fr 20fr 1fr 20fr;
    gap: 20px;
}

.b-announcement {
    cursor: pointer;
}

.right-content > .b-announcements h2 {
    margin-bottom: 3px;
    font-size: 0.85rem;
    font-weight: 500;
}

.right-content > .b-announcements p {
    width: auto;
    font-size: 0.8rem;
    line-height: 110%;
    color: rgba(128, 128, 128, 0.9);
}

.right-content > .b-announcements > .gray-line {
    height: 1px;
    background-color: rgba(128, 128, 128, 0.4);
}

.right-content > .b-trending {
    display: grid;
    padding: 20px;
    grid-template: repeat(4, 1fr) / 1fr 2.5fr;
    gap: 5px;
}

.right-content > .b-trending span {
    font-size: 0.9rem;
}

.right-content > .b-trending p {
    font-size: 0.9rem;
    color: gray;
}

.profile-about {
    max-width: 150px;
}

.profile-gecko,
.profile-cat,
.profile-dog,
.profile-elephant {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    cursor: pointer;
    background-size: cover;
    background-position: bottom center;
    transition: box-shadow 0.3s;
}

.profile-gecko:hover,
.profile-cat:hover,
.profile-dog:hover,
.profile-elephant:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
}

.profile-gecko {
    background-image: url(images/gecko.jpg);
}

.profile-cat {
    background-image: url(images/cat.jpg);
}

.profile-dog {
    background-image: url(images/dog.jpg);
}

.profile-elephant {
    background-image: url(images/elephant.jpg);
}

footer {
    display: grid;
    padding-bottom: 10px;
    justify-items: center;
    background: rgba(128, 128, 128, 0.1);
    grid-area: footer;
}
